.mega-menu {
    width: 100%;
    background-color: #121212;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 5%;
    height: 4rem;
}

.mega-menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, royalblue, purple);
}

.mega-menu .menu-content .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mega-menu .menu-content li {
    list-style: none;
    padding: 40px 30px;
}

.mega-menu .menu-content a {
    text-decoration: none;
    color: #f1f1f1;
}

.mega-menu .menu-content .main-menu .dropdown-list {
    margin-top: 20px;
}

.mega-menu .menu-content .main-menu .dropdown-menu {
    background-color: #121212;
    left: 0;
    width: 100%;
    position: absolute;
    transition: height 0.3s ease, opacity 0.3s ease 0.5s;
    opacity: 0;
    overflow: hidden;
    height: 0;
}



.mega-menu .menu-content .main-menu .menu-item:hover .dropdown-menu {
    display: block;
    opacity: 1;
    height: auto;
    padding: 30px 0;
}

.mega-menu .menu-content .main-menu .menu-item .dropdown-item::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, royalblue, purple);
}

.mega-menu .menu-content .main-menu .menu-item:not(:hover) .dropdown-menu {
    transition: height 0.3s ease, opacity 0.3s ease 0.5s;
    opacity: 0;
    height: 0;
    padding: 0;
}

.mega-menu .menu-content .main-menu .dropdown-menu .dropdown-item:not(:last-child) {
    border-right: 1px solid #343434;
}

.mega-menu .menu-content .main-menu .dropdown-menu .wrapper {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mega-menu .menu-content .main-menu .dropdown-menu .wrapper .list-option {
    display: flex;
    align-items: center;
}

.mega-menu .menu-content .main-menu .dropdown-menu .wrapper .list-option .icon {
    height: 48px;
    width: 48px;
    border: 1px solid #f1f1f1;
    margin-right: 20px;
}

.mega-menu .menu-content .main-menu .dropdown-menu .wrapper .dropdown-item {
    width: 100%;
    padding: 10px 0;
}

.mega-menu .menu-content .main-menu .dropdown-menu .wrapper .dropdown-item .title {
    color: royalblue;
    font-size: 1.2em;
    margin: 0 20px;
    padding: 0 10px 0 10px;
    position: relative;
}

.mega-menu .menu-content .main-menu .dropdown-menu .wrapper .dropdown-item .title::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 15%;
    bottom: 00%;
    left: 10px;
    background-color: #343434;
}

.mega-menu .menu-content .main-menu .dropdown-menu .wrapper .list-option {
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.mega-menu .menu-content .main-menu .dropdown-menu .wrapper .list-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.mega-menu .menu-content .main-menu .dropdown-menu .wrapper .list-option .icon img {
    width: 100%;
    height: auto;
}

.mega-menu .hamburger-menu {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.mega-menu .hamburger-menu .line {
    height: 1px;
    background-color: #f1f1f1;
}

.mega-menu .hamburger-menu .long-line {
    width: 100%;
}

.mega-menu .hamburger-menu .medium-line {
    width: 66%;
}

.mega-menu .hamburger-menu .short-line {
    width: 33%;
}

.mega-menu .menu-content,
.mega-menu .contact {
    display: flex;
}

.mega-menu .contact .button-link {
    text-decoration: none;
    color: #f1f1f1;
}

.mega-menu .menu-content .main-menu .menu-item .down-arrow {
    display: inline-block;
    transform: rotate(-90deg);
    margin-left: 10px;
}

.mega-menu .menu-content .main-menu .menu-item:hover .down-arrow,
.mega-menu .menu-content .main-menu .menu-item:hover .dropdown-menu .down-arrow,
.mega-menu .menu-content .main-menu .menu-item .item-link:hover + .down-arrow {
    transform: rotate(90deg);
}

@media only screen and (max-width: 768px) {

    .mega-menu * {
        font-size: small;
    }

    .mega-menu .hamburger-menu {
        opacity: 1;
        visibility: visible;
        position: relative;
    }

    .mega-menu .menu-content,
    .mega-menu .contact {
        display: none;
    }

    .mega-menu .active {
        display: block;
        position: absolute;
        top: 4rem;
        background-color: #121212;
        width: 100%;
        left: 0;
    }

    .mega-menu .menu-content .main-menu .dropdown-menu {
        position: absolute;
        top: 4rem;
    }

    .mega-menu .menu-content .main-menu .dropdown-menu .dropdown-item {
        display: flex;
        flex-direction: column;
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        align-items: center;
    }

    .mega-menu .menu-content .main-menu {
        position: absolute;
        width: 100%;
        background: #121212;
        top: 3rem;
        padding: 0 20px;
    }

    .mega-menu .menu-content .main-menu::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: 0;
        background: linear-gradient(to right, royalblue, purple);
        z-index: 1;
    }

    .mega-menu .menu-content .main-menu .menu-item {
        padding: 30px 0;
    }

    .mega-menu .menu-content .main-menu .dropdown-menu .dropdown-item .list-option {
        padding: 20px;
        text-align: center;
        height: 100px;
    }

    .mega-menu .menu-content .main-menu .dropdown-menu .wrapper .dropdown-item .title {
        height: 200px;
        top: 0;
    }

    .mega-menu .menu-content .main-menu .dropdown-menu .wrapper .list-option .icon,
    .mega-menu .menu-content .main-menu .dropdown-menu .wrapper .list-option p {
        display: none;
    }

    .mega-menu .contact {
        position: absolute;
        bottom: 0;
        z-index: 2;
        height: 3rem;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }

    .mega-menu .contact::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, royalblue, purple);
    }

    .mega-menu .contact .button-link {
        position: relative;
        top: 28%;
    }

}
