/* <editor-fold> */

.navigation-container {
    margin: 0 auto;
    padding: 0;
    z-index: 25;
    top: 0;
    position: sticky;
}

.navigation-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: .125rem;
    width: 100%;
    background: linear-gradient(to right, royalblue, purple);
}

.navigation-container .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    position: relative;
    background: #121212;
    padding: 0 5%;
}

.navigation-container .nav-list {
    height: 4rem;
    display: inline-flex;
    gap: 2rem;
    align-items: center;
    margin: 0 1.5rem;
}

@media (max-width: 768px) {
    .navigation-container .nav-list {
        height: auto;
    }
}

.navigation-container .nav-action .links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigation-container .nav-link,
.navigation-container .btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-weight: 500;
    color: #f1f1f1;
}

.navigation-container .dropdown {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background: #121212;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.5s ease-in;
    z-index: 15;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);

}

.navigation-container .dropdown-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.navigation-container .dropdown-item:not(:last-child) {
    border-right: 1px solid #565656;
}

@media (max-width: 1200px) {
    .navigation-container .dropdown-item {
        border-right: 1px solid #565656;
    }
}

.navigation-container .dropdown-item span.hidden {
    opacity: 0;
    font-weight: bold;
    font-size: 12px;
    background: linear-gradient(to right, royalblue, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s ease-in;
}

.navigation-container .dropdown-item span.hidden::before {
    content: ' ';
}

.navigation-container .dropdown-item:hover span.hidden {
    opacity: 1;
}

.navigation-container .dropdown-item {
    text-decoration: none;

    color: #f1f1f1;
}

.navigation-container .nav-list-menu:hover .dropdown {
    clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}

.navigation-container .item-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
    max-width: 100%;
}


.navigation-container .item-img {
    border: 1px solid #f1f1f1;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.navigation-container .item-list-info {
    position: relative;
    width: 100%;
}



@media (max-width:730px) {
    .navigation-container .nav-toggle {
        display: block;
    }
    .navigation-container .nav-menu {
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        background: #121212; /* make it toggled using js on hamburger */
        /*display: none;*/
    }
    .navigation-container .nav-menu.active {
        display: block;
    }
    .navigation-container .nav-list {
        display: block;
        margin: 2rem 0;
        text-align: center;
    }
    .navigation-container .nav-link {
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
    }
    .navigation-container .dropdown {
        overflow-x: scroll;
        top: 0;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        box-shadow: none;
        height: 0;
        text-align: start;
        transition: all 0.5s ease-in;
    }

    .navigation-container .nav-list-menu:hover .dropdown {
        height: 100%;
        transition: all 0.5s ease-in;
    }
}

@media (max-width:365px) {
    .navigation-container .logo-img {
        width: 10rem;
    }
}

.navigation-container .item-img svg {
    transform: scale(0.5);
}

.navigation-container .arrow {
    display: inline-block;
    transform: rotate(90deg);
    transition: all .3s ease-in;
    margin-left: 5px;
}

.navigation-container .nav-list-menu:hover .arrow,
.navigation-container .nav-list-menu.open .arrow {
    transform: rotate(-90deg);
}

.navigation-container .nav-list-menu.open .arrow {
    transform: rotate(-90deg);
}

.navigation-container .hamburger {
    display: none;
}


@media (max-width: 768px) {
    .navigation-container .hamburger {
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;
    }

    .navigation-container .nav-menu {
        transition: all 0.5s ease-in;
        position: absolute;
        top: 8rem;
        left: 100%;
        z-index: 15;
    }

    .navigation-container .nav-action .links {
        transition: all 0.5s ease-in;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 5px 5%;
        height: 3rem;
        background-color: #121212;
        position: absolute;
        right: -100%;
        top: 4.5rem;
        z-index: 15;
    }

    /* Hamburger lines */
    .navigation-container .hamburger .line {
        width: 100%;
        height: 1px;
        background-color: #f1f1f1;
        border-radius: 5px;
    }

    .navigation-container .hamburger .line-long {
        width: 100%;
        margin-left: 0;
    }

    .navigation-container .hamburger .line-medium {
        width: 66%;
        margin-left: 34%;
    }

    .navigation-container .hamburger .line-short {
        width: 33%;
        margin-left: 66%;
    }

    .navigation-container .nav-menu.active {
        left: 0;
    }

    .navigation-container .nav-action .links.active {
        right: 0;
    }
}

/* </editor-fold> */

/* <editor-fold> */

.slider {
    position: relative;
    width: 100%;
    height: calc(100vh - 4rem);
    overflow: hidden;
}

.slider::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #06060600, #060606ff);
    pointer-events: none;
    z-index: 15;
}

.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.slider .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slide .content {
    position: absolute;
    bottom: 20%;
    left: 20%;
    color: #f1f1f1;
    z-index: 10;
    transition: opacity 1.5s ease;
}

.slider .slide .content h1 {
    font-size: 48px;
    font-weight: bold;
}

.slider .slide .content p {
    font-size: 16px;
    max-width: 400px;
}

.slider .slide h1 {
    -webkit-text-stroke: 1px #fff;
    color: #ffffff00;
}

.slider .active {
    opacity: 1;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 20;
}

.slider .dots .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider .dots .dot.active {
    background-color: #f1f1f1;
}

.slider .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

@media (max-width: 768px) {

    .slider .slide .text-content {
        text-align: center;
    }
    .item-list {
        display: none;
    }
}

/* </editor-fold> */


